body {
	font-family: sans-serif;
}
section {
	width: 100%;
	height: auto;
	margin: auto;
}

.split {
	width: 50%;
	float: left;

}

.identityTable {
	width: auto;
	margin: auto;
	border: cadetblue solid 2px;
	text-align: center;
}

.strike {
	text-decoration: line-through;
}

.clearfix {
	width: 100%;
	height: auto;
}

.reflection {
	max-width: 100%;
}

.textBlock {
	width: 60vw;
	height: auto;
	margin: auto;
}